.total {
    font-size:24px;
}
.list {
    list-style-type: none;
}
.silver_list_item {
    border: 1px solid black;
    background-color: silver;
    border-radius: 10px;
    height: 165px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
}
.white_list_item {
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    height: 165px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
}
.avatar {
    width: 150px;
    height: 150px;
    float: left;
}
.title {
    font-size: 20px;
}
.description {
    font-size: 18px;
}
label {
    display: inline-block;
    width: 20%;
    text-align: right;
    padding-inline-end: 30px;
}
input {
    border-radius: 5px;
    margin-bottom: 0.5%;
    height: 20px;
}
.ng-valid {
    border: 3px solid green;
}
.ng-invalid:not(form) {
    border: 3px solid red;
}
